@import "tailwindcss";

@keyframes badgePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.badge-pulse {
  animation: badgePulse 0.4s ease-in-out;
}
